In [1]:
#package imports

import pandas as pd
import numpy as np

import tensorflow as tf
from sklearn.feature_extraction.text import CountVectorizer
tf.get_logger().setLevel('INFO')

import nltk
from nltk.corpus import stopwords
# nltk.download('stopwords')

In [2]:
# Load data
training_data = pd.read_json("train.json")
test_data = pd.read_json("test.json")

In [3]:
# stop words
stop_words = set(stopwords.words('english'))
stop_words = list(stop_words)
for word in ['i\'ve', 'i\'m', 'i\'ll', "i'm", "i've", "i'll", 'im',
            'would']:
    stop_words.append(word)

In [4]:
# Look at fields used in the test data
test_data.columns

Index(['giver_username_if_known', 'request_id', 'request_text_edit_aware',
       'request_title', 'requester_account_age_in_days_at_request',
       'requester_days_since_first_post_on_raop_at_request',
       'requester_number_of_comments_at_request',
       'requester_number_of_comments_in_raop_at_request',
       'requester_number_of_posts_at_request',
       'requester_number_of_posts_on_raop_at_request',
       'requester_number_of_subreddits_at_request',
       'requester_subreddits_at_request',
       'requester_upvotes_minus_downvotes_at_request',
       'requester_upvotes_plus_downvotes_at_request', 'requester_username',
       'unix_timestamp_of_request', 'unix_timestamp_of_request_utc'],
      dtype='object')

In [5]:
# Split
pizza = training_data[training_data['requester_received_pizza'] == True]
no_pizza = training_data[training_data['requester_received_pizza'] == False]
no_pizza_short = no_pizza[:len(pizza)]

# Create new dataframe with equal outcomes
new_train = pd.concat([pizza, no_pizza_short], axis = 0)
new_train = new_train.sample(frac=1) # shuffle
new_train.reset_index()
new_train['requester_received_pizza'] = new_train['requester_received_pizza'].astype(int) # boolean to 0/1

train_labels = new_train['requester_received_pizza']

## Examine Request Text

In [6]:
# Pull the request text
train_requests = new_train['request_text_edit_aware'].str.lower().tolist()

# Put labels into a list
train_labels = list(train_labels)

In [7]:
# Use count vectorizer to pull the request vocabulary
req_vectorizer = CountVectorizer(stop_words = stop_words,
                            token_pattern = '\\b(\\w+[\\\']?\\w+)\\b')
vtrain = req_vectorizer.fit_transform(train_requests)
req_vocab = req_vectorizer.vocabulary_

In [8]:
# Pull the words only
word_list = list(req_vocab.keys())

# Strip the likely non-words (less than 3 characters)
for word in word_list:
    if len(word) < 3:
        word_list.remove(word)

In [9]:
def count_examples(token, text_series):
    '''Counts the number of positive and negative examples containing token'''
    pos_count = 0
    neg_count = 0
    
    # Loop through each request
    
    for i in range(len(text_series)):
        
        if token in text_series[i]:
            
            # Add to positive example count
            if train_labels[i] == True:
                pos_count += 1
                
            # Add to negative example count
            if train_labels[i] == False:
                neg_count += 1
    
    return (pos_count, neg_count)

In [10]:
# Calculate words by success/fail requests and create dataframe
pos_count = []
neg_count = []

for word in word_list:
    pos,neg = count_examples(word, train_requests)
    pos_count.append(pos)
    neg_count.append(neg)

d = {
    'word': word_list,
    'n_pos': pos_count,
    'n_neg': neg_count
}

words_df = pd.DataFrame(d)

# Add a ratio column
words_df['ratio'] = words_df.n_pos / words_df.n_neg

In [11]:
# Check dataframe
words_df

            word  n_pos  n_neg     ratio
0            got    190    146  1.301370
1            hit     53     42  1.261905
2     unexpected     15      7  2.142857
3          bills     76     53  1.433962
4       paycheck     69     48  1.437500
...          ...    ...    ...       ...
8577  excitement      1      0       inf
8578     dislike      0      1  0.000000
8579      optics      0      1  0.000000
8580  irrelevant      0      1  0.000000
8581     mystery      0      1  0.000000

[8582 rows x 4 columns]

In [12]:
words_df = words_df.sort_values('n_pos', ascending = False)

In [13]:
top_words = words_df[:2000]

In [14]:
# Look at the most common words (top 2000)
top_words[:50]

        word  n_pos  n_neg     ratio
3064     ing    850    791  1.074589
5640      en    821    765  1.073203
898      zza    654    606  1.079208
8      pizza    653    605  1.079339
22       one    616    537  1.147114
5153     ave    595    504  1.180556
68       day    528    398  1.326633
1745     ate    487    395  1.232911
7634     n't    468    401  1.167082
1579     ill    464    381  1.217848
5140     hat    438    370  1.183784
130      get    433    384  1.127604
3048     mon    416    335  1.241791
6757     wit    408    323  1.263158
6460    ally    403    347  1.161383
6852      ba    386    306  1.261438
133    thank    381    314  1.213376
5073     ood    376    314  1.197452
2242    thin    374    353  1.059490
394      pay    364    264  1.378788
262     help    361    312  1.157051
1491     eve    349    297  1.175084
4817     wee    337    246  1.369919
463      eat    334    272  1.227941
24     thing    331    315  1.050794
357       op    327    294  1.112245
983      com    323    265  1.218868
943      wil    320    256  1.250000
493      end    318    306  1.039216
426     week    314    222  1.414414
6614     unt    312    217  1.437788
1021     ive    311    286  1.087413
2074     pre    303    253  1.197628
1570     til    297    213  1.394366
245      ugh    297    233  1.274678
446     real    293    274  1.069343
5213     rec    293    222  1.319820
7141    king    290    231  1.255411
5781     est    285    234  1.217949
231      use    284    248  1.145161
6       food    281    227  1.237885
5014     app    280    249  1.124498
1666     red    270    244  1.106557
74      work    268    235  1.140426
1139    ever    263    214  1.228972
2713     men    260    201  1.293532
96     money    257    218  1.178899
36    really    256    241  1.062241
449   thanks    255    218  1.169725
4963      ct    254    236  1.076271

In [15]:
# Check which words have high usage and high ratio
top_words[top_words['n_pos'] > 100].sort_values(
    'ratio', ascending=False)[:50]

         word  n_pos  n_neg     ratio
671     check    152     88  1.727273
4323     heck    153     89  1.719101
981      http    101     60  1.683333
504      next    144     87  1.655172
18      weeks    114     70  1.628571
656     great    108     68  1.588235
5663      hoo    101     64  1.578125
12       days    169    108  1.564815
285    anyone    186    119  1.563025
9        last    206    133  1.548872
2355      pic    114     74  1.540541
421   forward    178    116  1.534483
1197      cat    121     80  1.512500
944      sing    101     67  1.507463
435      paid    160    108  1.481481
1179      aid    232    157  1.477707
1166      las    234    159  1.471698
4822      war    232    159  1.459119
295     first    112     77  1.454545
6614      unt    312    217  1.437788
1207      fee    179    125  1.432000
236      back    179    126  1.420635
156   tonight    129     91  1.417582
426      week    314    222  1.414414
404      able    164    116  1.413793
1973      per    168    119  1.411765
7553     ward    203    144  1.409722
144      edit    114     81  1.407407
4145      min    191    136  1.404412
341      make    175    125  1.400000
660       ask    120     86  1.395349
1570      til    297    213  1.394366
99      month    180    130  1.384615
394       pay    364    264  1.378788
290      need    168    122  1.377049
2321     cent    118     86  1.372093
4817      wee    337    246  1.369919
10        two    124     91  1.362637
7875      rid    150    111  1.351351
148      rent    197    146  1.349315
6257      pos    178    132  1.348485
520      come    114     85  1.341176
173       son    120     90  1.333333
6450      acc    125     94  1.329787
68        day    528    398  1.326633
7650     bout    173    131  1.320611
5213      rec    293    222  1.319820
7589      tho    166    126  1.317460
312      like    220    167  1.317365
3666     dent    117     89  1.314607

## Examine request titles

In [16]:
# Pull the request text
train_titles = new_train['request_title'].str.lower().tolist()

In [23]:
train_titles[4]

"[request] lookin' for za in all the wrong places."

In [24]:
# Use count vectorizer to pull the request vocabulary
title_vectorizer = CountVectorizer(stop_words = stop_words,
                            token_pattern = '\\b(\\w+[\\\']?\\w+)\\b')
title_train = title_vectorizer.fit_transform(train_titles)
title_vocab = title_vectorizer.vocabulary_

In [60]:
# Pull the words only
title_word_list = list(title_vocab.keys())

# Strip the likely non-words (less than 3 characters)
for word in title_word_list:
    if len(word) < 3:
        title_word_list.remove(word)

In [61]:
# Check size of title vocab
len(title_vocab)

2927

In [62]:
len(title_word_list)

2800

In [63]:
# Calculate words by success/fail requests and create dataframe
t_pos_count = []
t_neg_count = []

for word in title_word_list:
    t_pos,t_neg = count_examples(word, train_titles)
    t_pos_count.append(t_pos)
    t_neg_count.append(t_neg)

d_title = {
    'word': title_word_list,
    'n_pos': t_pos_count,
    'n_neg': t_neg_count
}

title_words_df = pd.DataFrame(d_title)

# Add a ratio column
title_words_df['ratio'] = title_words_df.n_pos / title_words_df.n_neg

In [64]:
title_words_df.head()

      word  n_pos  n_neg     ratio
0  request    993    992  1.001008
1     flat      4      0       inf
2    broke    132    121  1.090909
3  student     91     81  1.123457
4     love     80     92  0.869565

In [65]:
title_words_df = title_words_df.sort_values('n_pos', ascending = False)

In [66]:
title_words_df

             word  n_pos  n_neg     ratio
1679          req    994    994  1.000000
0         request    993    992  1.001008
5           pizza    352    400  0.880000
601            mo    186    198  0.939394
2352          ent    183    179  1.022346
...           ...    ...    ...       ...
1661    sleepover      0      1  0.000000
1660         we'd      0      2  0.000000
1659  assignments      0      1  0.000000
1658         wide      0      1  0.000000
2799       optics      0      1  0.000000

[2800 rows x 4 columns]

In [67]:
top_title_words = title_words_df[:500]

In [68]:
top_title_words[:50]

         word  n_pos  n_neg     ratio
1679      req    994    994  1.000000
0     request    993    992  1.001008
5       pizza    352    400  0.880000
601        mo    186    198  0.939394
2352      ent    183    179  1.022346
219       day    179    175  1.022857
503       bro    151    139  1.086331
2       broke    132    121  1.090909
17     hungry    128     98  1.306122
138       one    127    134  0.947761
791       ate     99     83  1.192771
3     student     91     81  1.123457
35       help     91     75  1.213333
13       food     85     91  0.934066
666       til     82     75  1.093333
55      night     82     72  1.138889
4        love     80     92  0.869565
204       use     77     78  0.987179
1539      ton     76     77  0.987013
992        ex     70     54  1.296296
945       leg     70     57  1.228070
451       pay     69     39  1.769231
64        eat     68     73  0.931507
1156     real     68     59  1.152542
100   college     66     52  1.269231
58      money     65     58  1.120690
308       end     63     99  0.636364
2129      wee     63     66  0.954545
224       get     61     53  1.150943
203     could     60     74  0.810811
119      week     59     58  1.017241
10        usa     58     62  0.935484
167      need     57     62  0.919355
177    really     55     52  1.057692
295      work     54     45  1.200000
25    tonight     52     41  1.268293
760       red     49     37  1.324324
1149    thing     47     52  0.903846
834       las     46     45  1.022222
135       job     45     42  1.071429
774       ive     44     39  1.128205
646       aid     44     39  1.128205
1761      ste     44     36  1.222222
225       new     43     37  1.162162
515       men     42     49  0.857143
1614      app     41     27  1.518519
1215      pre     40     42  0.952381
195      last     39     30  1.300000
2138     ease     39     40  0.975000
104    please     37     35  1.057143

In [75]:
# Check which words have high usage and high ratio
top_title_words[top_title_words['n_pos'] > 50].sort_values(
    'ratio', ascending=False)[:25]

         word  n_pos  n_neg     ratio
451       pay     69     39  1.769231
17     hungry    128     98  1.306122
992        ex     70     54  1.296296
100   college     66     52  1.269231
25    tonight     52     41  1.268293
945       leg     70     57  1.228070
35       help     91     75  1.213333
295      work     54     45  1.200000
791       ate     99     83  1.192771
1156     real     68     59  1.152542
224       get     61     53  1.150943
55      night     82     72  1.138889
3     student     91     81  1.123457
58      money     65     58  1.120690
666       til     82     75  1.093333
2       broke    132    121  1.090909
503       bro    151    139  1.086331
177    really     55     52  1.057692
219       day    179    175  1.022857
2352      ent    183    179  1.022346
119      week     59     58  1.017241
0     request    993    992  1.001008
1679      req    994    994  1.000000
204       use     77     78  0.987179
1539      ton     76     77  0.987013